body {
    background-color: grey;
}

#rps-status, .output-msg {
    font-family:'Courier New', Courier, monospace;
}

.win {
    color: darkgreen;
}

.lose {
    color: maroon;
}

.game-win, .game-lose, .game-tie {
    font-size: 20;
    font-weight: 900;
}